# ===================================================
#               SkyRP — vMenu Freeroam
# ===================================================

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

sv_maxclients 48

# 🔷 Replace with your actual license key:
sv_licenseKey "cfxk_1Yts1WB3X75avORD3isIB_1tX5sC"

sv_hostname "SkyRP — Where Every Story Matters 🌆 | RP + vMenu"
sets sv_projectName "SkyRP"
sets sv_projectDesc "REALISTIC RP | VMENU🧑‍💻 | COP RP👮 | COUNTRY RP🤠 | CIV RP🤵 | GANG RP🔫 | 13+
  SkyRP — Clean vMenu-based freeroam/RP server"
sets locale "en-US"

# Optional logo (must be 96x96 PNG named SkyRPLogo.png)
load_server_icon SkyRPLogo.png

# ===================================================
#                 RESOURCES
# ===================================================

ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

ensure vMenu

exec permissions.cfg

# ===================================================
#                 END OF CONFIG
# ===================================================
